.slide {
	justify-content: space-around;
	align-items: center;
	padding: 10rem 0;

	&[data-slide="1"] {
		color: darkblue;
		a {
			color: darkblue;
		}
		font-weight: bold;
	}
	&[data-slide="2"] {
		color: darkgreen;
		a {
			color: darkgreen;
		}
		font-weight: bold;
	}
	&[data-slide="3"] {
		color: darkred;
		a {
			color: darkred;
		}
		font-weight: bold;
	}
}
